h1{
  color: white;
  text-align: center;
  margin: 0;
  padding: 10 px 0;
  background-color: rgb(121, 19, 127);
}

.main{
  display: flex;
  background: url("../images/image.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

#list{
  flex: 5;
  min-height: calc(100vh - 89px);
  position: relative;
  padding-top: 60px;
}

#btnTogglePanel{
  position: absolute;
  right: 10px;
  top: 10px;
}

#form{
  flex: 2;
  padding: 20px;
  background-color: #cea6d12e;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 6px;
  min-height: calc(100vh - 89px);
}

#form .control{
  margin-bottom: 12px;
}

#form .control label{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;

}

.iImportant{
  font-size: 32px;
  cursor: pointer;
}

#form .control .fas{
  color: #dfbbffa8;
}

#form .control .far{
  color: #dfbbffa8;
}

#form h3{
  text-align: center;
  font-weight: 100;
  color: white;
  margin-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*********************Task Items********************/

.task-item{
  display:flex;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #ffffff8a;
}

.task-item:hover{
  border-color: #c60f7b;
  border-left-width: 4px;
}

.task-item .icon{
  flex: 1;
  padding-top: 6px;
}

.task-item .info-1{
  flex: 3;
}

.task-item .info-2{
  flex: 1;
}

.task-item .info-2 label{
  display: block;
}

.task-item .info-3{
  flex: 1;
}

